#you can get your API key from https://platform.openai.com/account/api-keys
OPENAI_API_KEY="..." #your openai api key

#you can get your API key from from https://elevenlabs.io
ELEVENLABS_API_KEY="..." #your elevenlabs api key

#you can get your API key from from https://deepgram.com
DG_API_KEY="..."  #your deepgram api key